This notebook was used to find the best-performing user list.

In [1]:
import pandas as pd

fs_results1 = pd.read_csv('tuning_results.csv')
fs_results2 = pd.read_csv('tuning_results2.csv')
filtered_results_new = pd.read_csv('tuning_results_new_split.csv')

fu = pd.read_csv('filtered_user_lists.csv')
fu_tbt = pd.read_csv('filtered_user_lists_only_tpd_tbt.csv')
fu_maxtime = pd.read_csv('filtered_user_lists_only_tpd_maxtime.csv')

In [2]:
filtered_results_new['result'].sort_values(ascending=False)

771    0.843750
800    0.828125
834    0.820312
791    0.789062
825    0.781250
         ...
3      0.475207
964    0.471074
847    0.462810
841    0.462810
963    0.458678
Name: result, Length: 1030, dtype: float64

In [3]:
fs_results2['result'].sort_values(ascending=False)

549    0.730290
163    0.716667
76     0.716667
460    0.710938
450    0.710938
         ...
418    0.081081
335    0.081081
589    0.046667
610    0.046667
599    0.026667
Name: result, Length: 684, dtype: float64

In [4]:
tmp_list = filtered_results_new.iloc[771].user_list

In [5]:
filtered_users = pd.concat([fu, fu_tbt, fu_maxtime], ignore_index=True)
len(filtered_users)

1030

In [6]:
len(fu)

840

In [7]:
len(fu_tbt)

120

In [8]:
len(fu_maxtime)

70

In [9]:
filtered_users[filtered_users['user_list'] == tmp_list]

,Unnamed: 0,min_tpd,max_days_bt,min_days_active,user_list
767,767,10,1,360,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."
768,768,10,2,30,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."
769,769,10,2,60,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."
770,770,10,2,90,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."
771,771,10,2,120,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."
...,...,...,...,...,...
835,835,10,7,240,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."
836,836,10,7,270,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."
837,837,10,7,300,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."
838,838,10,7,330,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."
839,839,10,7,360,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."

In [10]:
filtered_users.iloc[767]

Unnamed: 0                                                       767
min_tpd                                                           10
max_days_bt                                                        1
min_days_active                                                  360
user_list          ['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10...
Name: 767, dtype: object

In [11]:
filtered_users.iloc[894]

Unnamed: 0                                                        54
min_tpd                                                            5
max_days_bt                                                        1
min_days_active                                                  210
user_list          ['uR0002', 'uR0011', 'uR0021', 'uR0032', 'uR00...
Name: 894, dtype: object

In [12]:
tmp_list

"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR1019', 'uR1037', 'uR1207', 'uR1255', 'uR1540', 'uR1547', 'uR1571', 'uR1770', 'uR2446', 'uR2565', 'uR2743', 'uR3017', 'uR3064', 'uR3278', 'uR3516', 'uR3928', 'uR4141', 'uR4369', 'uR4501', 'uR4747', 'uR4925', 'uR5429', 'uR5532', 'uR5560', 'uR5907', 'uR6011', 'uR6018', 'uR6092', 'uR6218', 'uR6763', 'uR6777', 'uR6943', 'uR6967']"

In [13]:
filtered_users[filtered_users['user_list'] == tmp_list]

,Unnamed: 0,min_tpd,max_days_bt,min_days_active,user_list
767,767,10,1,360,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."
768,768,10,2,30,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."
769,769,10,2,60,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."
770,770,10,2,90,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."
771,771,10,2,120,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."
...,...,...,...,...,...
835,835,10,7,240,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."
836,836,10,7,270,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."
837,837,10,7,300,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."
838,838,10,7,330,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."
839,839,10,7,360,"['uR0036', 'uR0129', 'uR0134', 'uR0951', 'uR10..."

In [21]:
#tmp = filtered_users[filtered_users['user_list'] == tmp_list]
min = 10000
for i in range(len(filtered_users)):
    tmpr = filtered_users.iloc[i]
    tmp_min = len(eval(tmpr['user_list']))
    if tmp_min < min:
        min = tmp_min
min

37